body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 60px;
}

h3, h4 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
}

.form-container {
    padding: 20px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    width: calc(50% - 20px); /* Two columns, accounting for gap */
    flex-grow: 1;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 20px;
}

.section h4 {
    font-weight: 500;
    font-size: 1.2em;
    color: #007bff;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.patient-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    font-family: 'Inter', sans-serif;
}

input::placeholder {
    color: #aaa;
    font-weight: 400;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Inter', sans-serif; 
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
        width: 90%;
    }

    .patient-info-grid {
        grid-template-columns: 1fr;
    }
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
    width: 100%; /* Controls the width of the text fields */
    padding: 20px; /* Controls the padding inside the text fields */
    font-size: 16px; /* Controls the size of the text */
    border-radius: 25px; /* Controls the rounding of the corners */
    border: 1px solid #ccc; /* Controls the border */
    box-sizing: border-box; /* Ensures padding is included in the width/height calculation */
}

@media (max-width: 600px) {
    input[type="text"],
    input[type="number"],
    input[type="date"],
    textarea {
        width: 100%; /* Full width on smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }
    label {
        font-size: 14px; /* Smaller font size on smaller screens */
    }
}

label {
    font-size: 20px; /* Controls the size of the label text */
    font-weight: bold; /* Makes the label text bold */
    color: #333; /* Sets the label text color */
    margin-bottom: 5px; /* Adds space between the label and the input field */
    display: block; /* Ensures the label occupies its own line */
    font-family: 'Inter';
}